<%= render 'form', produto: @produto %>

<div class="field is-grouped" style="padding: 1em;">
    <%= button_to "Voltar", produtos_path, class: "button is-warning is-outlined", :method => :get %>
</div>
