<footer class="footer" style="padding: 1rem 1.5rem 1rem; background-color: #f99db7;">
  <div class="content has-text-centered" >
    <p>
      <strong>Desenvolvido por </strong> <a href="https://github.com/bklass/petshop_rails_vue_bulma">Bruna K</a>.
    </p>
  </div>
</footer>